<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title%}
            Django App
        {%endblock%}
    </title>
</head>
<body>
    <nav>
        <a href="/">
            <span role='img' aria-label='Home' title="home">🏠</span>
        </a> | 
       {% if user.is_authenticated %}
            <form action="{% url 'users:logout'%}" method="post">
                {% csrf_token %}
                <button aria-label='User Logout' title="Logout">🕹️</button>
            </form>
            <p>Hi, {{user.username}}</p>
        {% else %}
            <a href="{% url 'users:login' %}">
                <span role='img' aria-label='Login' title="Login">🚪</span>
            </a> | 
            <a href="{% url 'users:register' %}">
                <span role='img' aria-label='Register' title="Register">🗒️</span>
            </a>
        {% endif %}
    </nav>
    <main>
        {%block content%}
        
        {%endblock%}
    </main>
</body>
</html>
