{% extends 'notes/notes_layout.html'%}

{% block title %}
    Notes
{% endblock %}

{% block notes_content %}
    <section>
        {% for note in notes %}
            <article class='notes'>
                <h2> 
                    <a href="{% url 'notes:page' slug=note.slug%}">
                        {{note.title }}
                    </a>
                </h2>
                <p> {{note.date }} </p>
                <p> {{note.body }} </p>
                {% for tag in note.tags.all %}
                        <a href="{% url 'notes:tagged_notes' tag.name %}">
                            {{tag.name}}
                        </a>
                    {% if not forloop.last %}, {% endif %}
            {% endfor %}
            </article>
        {% endfor %}
    </section>
{% endblock%}

